body {
    margin: 0;
    font-family: 'Potta One', cursive;
    font-size: 15px;
    line-height: 0;
    color: #333;
    background:url(images/bg.jpg) center;
    background-repeat: repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding:80px 0 0 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2 , h3, h4, h5 h6 {margin: 0}

/* Container */

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.containerforgrechka {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    background-color: floralwhite;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: space-evenly;

    border: 3px solid #FFE4B5; /* рамка */
    border-radius: 10px; /* Радиус скругления */
    position: center;
}

/* Intro */

.intro {
    margin-top:50px;
    width: 100%;
    height: auto;
    min-height: 1200px;
    justify-content: space-between;
}

/* Header */

.header
{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: .07em 0 red;
    color: #FFE4B5;
}

/* Navigation */

.nav {
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:after {
    margin-top: 14px;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #FFE4B5;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #FFE4B5;
}

.nav__link:hover:after {
    opacity: 1;
}

/* Description */

.descr {
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150%;
    height: 30%;
    background-color: rgba(0,0,0,0.5);
    color: #FFE4B5;
    padding-top: 5px;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(90deg);
    transition: all .8s;
    z-index: 1000;
    pointer-events: none;
    line-height: 1.5;
    word-break: break-all;
}

/* Grecha */

.imagegrechka {
    width: 250px;
    height: 300px;
}

.grechka {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 3px solid #FFE4B5; /* рамка */
    border-radius: 10px; /* Радиус скругления */
    position: relative;
}

.grechka:hover .descr {
    opacity: 1;
    top: 0;
    transform: scale(1) rotate(0deg);
    border: 3px solid #FFE4B5; /* рамка */
    border-radius: 10px; /* Радиус скругления */
}

/* Pricediv */

.pricediv {
    margin: 20px;
}
/* Buttom */
input
{
  display: none;
}

#text
{
  position: absolute;
  display: flex;
  top: 0;
  padding-left: 10px;
  min-width: 260px;
}


.select
{
  left: 43.2%;
  display: inline-block;
  max-width: 260px;
  max-height: 34px;
  width: 100%;
  height: 100;
  line-height: 35px;
  position: relative;
  z-index: 2;
}

.select:before
{
  content: ">";
  display: inline-block;
  background: white;
  position: absolute;
  z-index: 2;
  width: 34px;
  left: 224px;
  height: 35px;
  text-align: center;
  line-height: 26px;
  border: 2px solid #ddd;
  transform: rotate(90deg);
  cursor: pointer;
}

.select input[name="list"]:not(:checked) ~ #text
{
  color: black;
  background: white;
}

.select input[name="list"]:checked ~ #text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text
{
  background: #eee;
}

.items
{
  display: block;
  min-height: 35px;
  position: absolute;
  border: 2px solid #ddd;
  overflow: hidden;
  width: 260px;
  cursor: pointer;
}

#select:not(:checked) ~ .items
{
  height: 34px;
}

.items label
{
  border-top: 2px solid #ddd;
  display: none;
  padding-left: 10px;
  background: white;
}

.items label:hover
{
  background: #eee;
  cursor: pointer;
}

#select:checked ~ .items
{
  padding-top: 30px;
}

#select:checked ~ .items label
{
  display: block;
}

.items input:checked + label
{
  display: block!important;
  border: none;
  background: white;
}