<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <title>MomentumQQ</title>
</head>

<body>
    <div class="container">
        {% for count, time in notes %}
            <div class="note">
                {{ time }}  : Users  {{ count }}
            </div>
        {% endfor %}

    </div>
</body>
</html>
